{% extends 'base2.html' %}

{% block header %}

{% endblock header %}

{% block content %}
<form class=sample action="" method="POST">
    <div class='container'>
        <div class="card">
            <div class="card-body">
                <h1 class="h3 mb-3 font-weight-normal">パスワードの変更</h1>
                {% csrf_token %}
                {{ form.as_p }}
                
                <input type="submit" value="更新する">
            </div>
        </div>
    </div>
</form>
<p></p>
<center>
    <a href="{% url 'list' %}" class="btn btn-primary">戻る</a>
</center>

<br>
<p align="center">
    {% if user.is_authenticated %}
    <em>{{ user.username }}でログイン中</em><br />
        <a href="{% url 'logout_original' %}">ログアウト</a>
    {% else %}
    <em>
    ログインは<a href="{% url 'login_original' %}">こちら</a>
    {% endif %}
</p>
</br>
{% endblock content %}