{% extends 'base2.html' %}
{% load widget_tweaks %}
{% block header %}

{% endblock header %}

{% block content %}
<style>
    .class-name {
        width:70%;
        height: 80px;
    }
</style>
<form class=sample action="" method="POST">
    <div class='container'>
        {% if user.username != "guest" %}
        <div class="card">
            <div class="card-body">
                {% csrf_token %}
                <p class="card-title">タイトル</p>
                <p class="card-title">{{form.title}}</p>
                <p class="card-title">内容</p>
                <p class="card-title">{{form.content|add_class:'class-name'}}</p>
                <p>
                    {{form.author.as_hidden}}
                </p>
                <input type="submit" value="更新する">
            </div>
        </div>
        {% endif %}
    </div>
</form>
<p></p>

<center>
    <a href="{% url 'list' %}" class="btn btn-primary">戻る</a>
</center>
<br>
<p align="center">
    {% if user.is_authenticated %}
    <em>{{ user.username }}でログイン中</em><br />
        <a href="{% url 'logout_original' %}">ログアウト</a>
    {% else %}
    <em>
    ログインは<a href="{% url 'login_original' %}">こちら</a>
    {% endif %}
</p>
</br>
{% endblock content %}